.main{
    width: 100%;
    background-color: #E4DECE;
    height: 100vh;
    .content {
        width: 50%;
        margin: auto;
        height: 80%;
        .MuiContainer-root{
    
            height: 100%;
            background-color: #EAE4D3;
        }
    }

    .btn-lr{
        display: flex;
        justify-content: space-between;
    }
}